# Firebase config
.firebaserc
firebase-debug.log
firebase-debug.*.log
.firebase/

# Dependencies
node_modules/

# Environment variables
.env
.env.local

# IDE/Editor folders
.vscode/
.idea/

# OS files
.DS_Store
Thumbs.db
